/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.left-col {
  float: left;
}
.right-col {
  float: right;
}

